.capacitiesItem {
  text-decoration: none;
  border: 2px solid #ffffff;
  padding: 15px;
  color: #ffffff;
}

.capacityActive {
  text-decoration: none;
  border: 2px solid #ffffff;
  padding: 15px;
  background: #ffffff;
  color: #111111;
}
