.capacitiesItem {
  text-decoration: none;
  border: 5px solid #ffffff;
  padding: 15px;
  color: #ffffff;
}

.capacityActive {
  border: 5px solid #8b8400;
  padding: 15px;
  background: #ffffff;
  color: #111111;
}

.notAvailable {
  padding: 15px;
  background: linear-gradient(
    to top right,
    transparent 49.5%,
    #999999 49.5%,
    #999999 50.5%,
    transparent 50.5%
  );
  color: #666666;
}
