@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/variables";
@import "../../../styles/global/base";
@import "../../../styles/global/reset";

//.container {
//  width: 100%;
//}

.sectionDataUser {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sectionTitle {
  @include flex-center;
  flex-direction: column;

  .dataTitle {
    @include small-text;
    font-size: 16px;
    color: $ui-color-primary-accent;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 25px;

    @media only screen and (min-device-width: $ui-breakpoint-tablet-min) {
      font-size: 16px;
    }

    @media only screen and (min-device-width: $ui-breakpoint-desktop-min) {
      font-size: 18px;
    }
  }
}

.infoDataForm {
  width: 280px;

  @media only screen and (min-device-width: $ui-breakpoint-tablet-min) {
    width: 380px;
  }

  @media only screen and (min-device-width: $ui-breakpoint-desktop-min) {
    width: 450px;
  }

  .dataInput {
    outline: none;
    border: none;
    width: 100%;
    margin-top: 5px;
    padding: 15px;
    background: #323542;
    color: white;
    @include body-text;

    &::placeholder {
      color: $ui-color-gray-elements;
    }

    &:focus {
      border: 1px solid #905bff;
    }
  }
}

.updateDataBtnBlock {
  @include flex-kit(center);
  padding-top: 30px;
}

.updateDataBtn {
  @include flex-center;
  @include button;
  font-size: 14px;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background-color: $ui-color-primary-accent;
  color: $ui-color-gray-white;
  border: none;
  margin-bottom: 40px;

  &:hover {
    background-color: $ui-color-primary-accent-hover;
  }

  &:active {
    background-color: $ui-color-gray-selected-surface-2;
  }
}
