@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/variables";
@import "../../../styles/global/base";
@import "../../../styles/global/reset";

.container {
  width: 100%;
}

.sectionDataUser {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sectionTitle {
  @include flex-center;
  flex-direction: column;
}

.dataTitle {
  @include h3;
  color: $ui-color-primary-accent;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.infoDataForm {
  width: 400px;
}

.dataInput {
  outline: none;
  width: 100%;
  margin-top: 5px;
  margin-right: 50px;
  border-radius: 25px;
  border: 1px solid $ui-color-gray-elements;
  padding: 15px;
  background: #d1d1dc;
  @include body-text;

  &::placeholder {
    color: $ui-color-gray-elements;
  }

  &:focus {
    background-color: $ui-color-gray-white;
  }
}

.updateDataBtnBlock {
  @include flex-kit(center);
  padding-top: 30px;
  @media screen and (max-width: $ui-breakpoint-mobile-min) {
    justify-content: center;
  }
}

.updateDataBtn {
  @include flex-center;
  @include button;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  background-color: $ui-color-primary-accent;
  color: $ui-color-gray-white;
  border: none;
  margin-bottom: 40px;

  &:hover {
    background-color: $ui-color-primary-accent-hover;
  }

  &:active {
    background-color: $ui-color-gray-selected-surface-2;
  }
}
