* {
  box-sizing: border-box;

  &::before {
    box-sizing: border-box;
  }

  &::after {
    box-sizing: border-box;
  }
}

.linksBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.linksBtn:hover {
  background-color: #0056b3;
}

.testBox {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1f2342;
}

.tittle {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
  color: black;
}

.container {
  width: 1136px;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.contentProduct {
  color: white;
  width: calc(50% - 37.5px);
  margin-bottom: 75px;
}

.container:nth-child(1) {
  color: greenyellow;
}

.container:nth-child(odd) {
  margin-right: 75px;
}

.imagesWrapper {
  display: flex;
}

.fiveImagesWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}

.smallPicture {
  height: 80px;
  width: 80px;
}

.bigPicture {
  width: 331px;
  height: 331px;
}

.colorsTitle {
  text-align: center;
}

.availableColors {
  display: flex;
  margin-bottom: 40px;
}

.availableColors:last-child {
  margin-right: 0;
}

.capacities {
  display: flex;
  gap: 30px;
}

.capacitiesItem {
  border: 2px solid #ffffff;
  padding: 15px;
}

.capacityActive {
  border: 2px solid #ffffff;
  padding: 15px;
  background: #ffffff;
  color: #111111;
}
