.title {
  color: var(--Gray-Secondary, #75767f);

  /* Body text 14 */
  font-family: Mont;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.description {
  color: var(--Gray-White, #f1f2f9);
  text-align: right;

  /* Body text 14 */
  font-family: Mont;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.paramsGroup {
  height: 30px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paramWrapperContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
}

.paramsGroupFirst {
  height: 210px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
