@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";
@import "../../styles/global/base";

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  font-size: 3.5rem;
  color: white;
  background: rgb(22, 184, 243);
  background: linear-gradient(
    149deg,
    rgba(22, 184, 243, 1) 0%,
    rgba(108, 231, 185, 1) 65%
  );
  border-radius: 50%;
  margin: 2rem auto;
}

.sectionSubtitle {
  @include flex-center;
  flex-direction: column;
}

.sectionUser {
  display: flex;
  justify-content: space-between;
}

.sectionDataUser {
  width: 400px;
}

.section__btnCheckout {
  @include flex-center;
  @include button;
  height: 40px;
  width: 100%;
  background-color: $ui-color-primary-accent;
  color: $ui-color-gray-white;
  border: none;
  margin-right: 8px;
  &:hover {
    background-color: $ui-color-primary-accent-hover;
  }
  &:active {
    background-color: $ui-color-gray-selected-surface-2;
  }
}

.container {
  width: 100%;
  @media (max-width: 1200px) {
    margin-left: 115px;
    margin-right: 100px;
  }
  @media (max-width: 768px) {
    margin-left: 30px;
    margin-right: 50px;
  }
  @media (max-width: 320px) {
    margin-right: 35px;
  }
}

.registration__form {
  @media screen and (max-width: $ui-breakpoint-tablet-min) {
    padding: 30px 40px;
  }
  @media screen and (max-width: $ui-breakpoint-mobile-min) {
    padding: 10px 10px;
  }
}

.registration__sectionTitle {
  padding-top: 15px;
  @include h3;
  color: $ui-color-primary-accent;
  @media (max-width: $ui-breakpoint-tablet-min) {
    @include h4;
    padding-top: 10px;
  }
  @media (max-width: $ui-breakpoint-mobile-min) {
    @include mobile-h3;
    padding-top: 5px;
  }
}

.registration__sectionSubtitle {
  margin-top: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  @include h3;
  color: $ui-color-gray-white;
  @media (max-width: $ui-breakpoint-tablet-min) {
    @include h4;
  }
  @media (max-width: $ui-breakpoint-mobile-min) {
    @include mobile-h3;
  }
}

.registration__sectionInput {
  outline: none;
  width: 100%;
  margin-top: 5px;
  margin-right: 50px;
  border: 1px solid #ede8e7;
  padding: 15px;
  @include body-text;
}

.login__registrationSection {
  display: flex;
  align-items: flex-start;
  text-align: center;
  @media screen and (max-width: $ui-breakpoint-mobile-min) {
  }
}

.login__registrationError {
  text-align: center;
  padding: 10px;
  color: #e36709ff;
}

.login__registrationTitle {
  margin-top: 30px;
  text-align: center;
  display: flex;
  height: 40px;
  @include h3;
  color: $ui-color-gray-white;
  @media (max-width: $ui-breakpoint-tablet-min) {
    @include h4;
  }
  @media (max-width: $ui-breakpoint-mobile-min) {
    @include mobile-h3;
  }
}

.changePassIcon {
  cursor: pointer;
}

.login__sectionBtn {
  @include flex-kit(center);
  padding-top: 30px;
  @media screen and (max-width: $ui-breakpoint-mobile-min) {
    justify-content: center;
  }
}
