img {
  object-fit: cover;
  overflow: hidden;
}

.selectableGallery {
  display: flex;
}
.smallImagesWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.smallImgWrapper {
  cursor: pointer;
  margin-bottom: 16px;
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.bigImgWrapper {
  cursor: pointer;
  flex-shrink: 0;
  width: 442px;
  height: 442px;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}

.selectedImg {
  box-shadow: 0 0 0 5px #8b7d22;
}
