@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.loginForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px 60px 30px;
  height: 435px;
  min-width: 400px;
  width: 20%;
  // min-width: 310px;
  border: 1px solid $ui-color-gray-elements;
  background-color: $ui-color-gray-surface-1;
}

.formHeader {
  @include h2;
  text-align: center;
  margin-bottom: 20px;
}

// .loginBtn{
//   position: absolute;
//   font-size: 30px;
//   background-color: aqua;
// }

.submitContainer {
  margin-top: 10px;
}

.alternateAction {
  margin: 10px 0px;
  text-align: center;
  .or {
    font-size: $ui-font-size-buttons;
  }
  .registerLink {
    font-size: $ui-font-size-buttons;
    color: $ui-color-gray-white;
    text-decoration: underline;
  }
}

.submitStatus {
  position: absolute;
  bottom: 40px;
  right: 50%;
  transform: translateX(50%);
  font-family: $ui-font-family-semibold;
  text-align: center;
  color: red;
  margin-bottom: 5px;
}

.submitError {
  position: absolute;
  width: 100%;
  bottom: 25px;
  right: 50%;
  transform: translateX(50%);
  font-family: $ui-font-family-semibold;
  text-align: center;
  color: red;
}
