.loginForm {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 20px;
  padding: 50px;
  min-width: 400px;
  width: 25%;
}

.submitStatus {
  color: red;
}

.submitError {
  color: red;
}
