@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

section {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 32px;

  @media only screen and (min-device-width: $ui-breakpoint-tablet-min) {
    margin-bottom: 26px;
  }

  @media only screen and (min-device-width: $ui-breakpoint-desktop-min) {
    margin-bottom: 16px;
  }
}

.container {
  padding: 16px;
  max-width: $ui-max-container-width;

  /*-----------------  Tablet ---------------------*/
  @media only screen and (min-device-width: $ui-breakpoint-tablet-min) {
    padding: 24px;
  }
  /*----------------- Desktop ---------------------*/
  @media only screen and (min-device-width: $ui-breakpoint-desktop-min) {
    padding: 32px;
  }
}

/*----------------------- welcome -------------------------*/
h1 {
  @include mobile-h1;
  margin: 72px 0 24px;

  /*-----------------  Tablet ---------------------*/
  @media only screen and (min-device-width: $ui-breakpoint-tablet-min) {
    margin: 80px 0 32px;
    @include h1;
  }
  /*----------------- Desktop ---------------------*/
  @media only screen and (min-device-width: $ui-breakpoint-desktop-min) {
    margin: 120px 0 56px;
    @include h1;
  }
}
