@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.inputWrapper {
  @include flex-start;
  flex-direction: column;
  min-height: 70px;
  width: 100%;
}

.inputLabel {
  padding-top: 20px;
  margin-bottom: 3px;
  @include body-text;
  color: #75767f;
}

.inputField {
  height: 40px;
  width: 100%;
  padding: 3px 14px;
  @include body-text;
  color: $ui-color-gray-white;
  background-color: $ui-color-gray-selected-surface-2;
  border: 1px solid $ui-color-gray-selected-surface-2;

  &:focus {
    outline: 1px solid $ui-color-primary-accent;
  }

  &:disabled {
    color: #c0c0c0;
  }
}

.inputError {
  padding-top: 7px;
  padding-left: 14px;
  @include error-text;
  color: $ui-color-red-badge-favorite;
}
