@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.button {
  @include flex-center;
  @include button;
  height: 40px;
  width: 100%;
  background-color: $ui-color-primary;
  color: $ui-color-gray-white;
  border: none;
  margin-right: 8px;

  &:hover {
    background-color: $ui-color-hover;
  }

  &:active {
    background-color: $ui-color-select;
  }
}
