@import "variables";

@mixin h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
}

@mixin h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
}

@mixin h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;
}

@mixin h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

@mixin uppercase {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
}

@mixin button {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

@mixin body-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

@mixin body-text-14 {
  color: $ui-color-gray-white;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  text-align: justify;
}

@mixin small-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
}

@mixin small-text-12 {
  color: $ui-color-gray-secondary;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
}

@mixin mobile-h1 {
  color: $ui-color-gray-white;
  font-family: $ui-font-family;
  font-size: $ui-font-size-mobile-h1;
  font-style: normal;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -0.32px;
}

@mixin mobile-h2 {
  @include mobile-h1;
  font-size: $ui-font-size-mobile-h2;
  line-height: 140%; /* 30.8px */
}

@mixin tablet-h1 {
  @include mobile-h1;
  font-size: $ui-font-size-desk-h1;
  line-height: 56px;
  letter-spacing: -0.48px;
}

@mixin tablet-h2 {
  @include mobile-h1;
  font-size: $ui-font-size-mobile-h1;
  line-height: 41px;
  letter-spacing: -0.32px;
}

@mixin tablet-h3 {
  font-size: $ui-font-size-desk-h3;
  color: $ui-color-gray-white;
  font-style: normal;
  font-weight: 800;
  line-height: 140%; /* 30.8px */
}

@mixin mobile-h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

@mixin mobile-h4 {
  color: $ui-color-gray-white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@mixin flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
