@mixin h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
}

@mixin h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
}

@mixin h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;
}

@mixin h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

@mixin uppercase {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
}

@mixin button {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  padding: 8px 16px;
}

@mixin body-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
}

@mixin small-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
}

@mixin mobile-h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
}

@mixin mobile-h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;
}

@mixin mobile-h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
}

@mixin mobile-h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}



@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@mixin flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


