/* ------------ Main colors --------------- */
$ui-color-text-black: #0F1121;
$ui-color-gray-white: #F1F2F9;
$ui-color-gray: #4A4D58;
$ui-color-gray-secondary: #75767F;
$ui-color-accent: #905BFF;
$ui-color-green: #27AE60;
$ui-color-red: #EB5757;


/* ------------ Buttons colors --------------- */
$ui-color-gray-surface: #161827;
$ui-color-gray-surface_2: #323542;
$ui-color-gray-elements: #3B3E4A;
$ui-color-gray-elements_placeholders: #4A4D58;
$ui-color-gray-white: #F1F2F9;
$ui-color-gray-white: #F1F2F9;
$ui-color-primary: #905BFF;
$ui-color-hover: #A378FF;
$ui-color-select: #323542;

/* ------------ Breakpoints --------------- */
$ui-breakpoint-sm: 576px;
$ui-breakpoint-md: 768px;
$ui-breakpoint-lg: 992px;
$ui-breakpoint-xl: 1200px;
$ui-breakpoint-xxl: 1400px;



/* ------------ Fields paddings --------------- */
$ui-fields-padding: 8px;

/* ------------ Other --------------- */
$ui-transition-duration: 0.3s;
$ui-display-none: none;
$ui-display-block: block;
$ui-display-flex: flex;
$ui-display-grid: grid;
$ui-display-inline-block: inline-block;
$ui-position-ab: absolute;
$ui-position-rv: relative;