@import "../abstracts/variables";
@import "fonts";

.App {
  text-align: center;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;

  .content-wrapper {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

body {
  background-color: $ui-color-gray-black-background;
  height: 100%;
  margin: 0;
}
