@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.searchForm {
  @include flex-between;
  width: 80%;
  height: 30px;
}

.searchInput {
  width: 80%;
  height: 100%;
  padding: 0 8px;
  border: none;
  color: $ui-color-gray-white;
  text-align: center;
  box-sizing: border-box;
  background-color: inherit;
  border-bottom: 1px solid $ui-color-gray-secondary;

  &:focus {
    //width: auto;
    outline: none;
    border: none;
    border-bottom: 1px solid $ui-color-primary-accent-hover;
  }
}
//
//input[type=text] {
//  transition: width 0.4s ease-in-out;
//}
//
//input[type=text]:focus {
//  border: none;
//  box-shadow:  2px 2px 2px $ui-color-primary-accent-hover;
//}
