@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-width: 220px;
  max-width: 287px;
  padding: 32px;
  gap: 8px;
  background-color: $ui-color-gray-surface-1;

  .imageWrapper {
    background-color: $ui-color-gray-black-background;
  }

  .cardImg {
    @include flex-center;
    width: 100%;
    aspect-ratio: 3/4;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    user-select: none;

    & > img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }

    & > .innerImg {
      max-width: 90%;
      max-height: 90%;
    }
  }

  .nameWrapper {
    @include flex-center;
    justify-content: flex-start;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
  }

  .model {
    @include body-text;
    color: $ui-color-gray-white;
  }

  .priceWrap {
    width: 100%;
    @include flex-between;
    position: relative;
  }

  .price {
    @include h4;
    color: $ui-color-gray-secondary;
  }

  .discountPrice {
    @include h3;
  }
}

.percentDiscount {
  @include button;
  position: absolute;
  z-index: 1;
  top: -24px;
  right: -15px;
  color: $ui-color-gray-white;

  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 41px;
    left: -45px;
    width: 65px;
    height: 1px;
    background-color: $ui-color-green;
  }

  &:after {
    position: absolute;
    z-index: -1;
    content: "";
    top: 0;
    left: -16px;
    width: 60px;
    height: 22px;
    background-color: $ui-color-green;
  }
}

.divider {
  width: 100%;
  height: 2px;
  background-color: $ui-color-gray-selected-surface-2;
}

.paramsGroup {
  width: 100%;
  display: flex;
  padding: 0;
  flex-direction: column;
  gap: 8px;
  align-self: stretch;
  list-style-type: none;

  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20px;

    & > p {
      @include small-text;
      color: $ui-color-gray-secondary;
    }

    & > p:last-child {
      color: $ui-color-gray-white;
    }
  }
}

.buttonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.cardLink {
  cursor: pointer;
  text-decoration: unset;
  color: $ui-color-gray-white;
}
