@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.inputWrapper {
  background: rgb(71, 74, 84);
  background: radial-gradient(
    circle,
    rgba(71, 74, 84, 0.5242471988795518) 15%,
    rgba(15, 17, 33, 0.9976365546218487) 90%
  );

  @include flex-center;
  width: 40%;
  overflow: hidden;
  height: 32px;
  padding: 0 15px;
}

.searchIcon {
  margin-right: 8px;
}

.searchInput {
  @include body-text;
  color: $ui-color-gray-white;
  background: none;
  border: none;
  height: 100%;
  font-size: $ui-font-size-small-text;
  text-align: center;
  width: 100%;

  &:focus {
    outline: none;
  }
}
