@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";
@import "../../styles/global/base";

:root {
  --header-height: 48px;
  @media only screen and (min-device-width: $ui-breakpoint-desktop-min) {
    --header-height: 64px;
  }
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: $ui-color-gray-selected-surface-2;
}

*::-webkit-scrollbar-thumb {
  background-color: $ui-color-gray-surface-1;
}

// .test{
//   scrollbar-width: thin; /* thin, auto, none */
//   .scroll-container::-webkit-scrollbar {
//     background-color: #f1f1f1;
//   }
//   .scroll-container::-webkit-scrollbar-thumb {
//     background-color: #888;
//   }
//   -webkit-overflow-scrolling: touch;//плав прокрутка Safari
//   scroll-behavior: smooth; /* Делает прокрутку плавной */
//   overscroll-behavior: contain; /* Предотвращает прокрутку за пределы контейнера */
// }

.filterWrapper {
  // position: relative;
  margin-top: 15px;
  width: 45%;
  max-width: 176px;
  // align-self: flex-end;
}

.filterButton {
  // align-self: flex-end;
  // width: 200px;
  // height: 40px;
  @include flex-center;
  @include button;
  height: 40px;
  width: 100%;
  // width: 150px;
  // width: 200px;
  color: $ui-color-gray-white;
  background-color: $ui-color-primary-accent;
  border: none;
  cursor: pointer;
  // margin-right: 8px;

  &:hover {
    background-color: $ui-color-primary-accent-hover;
  }

  &:active {
    background-color: $ui-color-gray-selected-surface-2;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.filterOuterContainer {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 48px;
  // display: flex;
  // flex-direction: column;
  width: 75vw;
  max-width: 320px;
  height: calc(100vh - var(--header-height));
  // max-width: 320px;
  animation: slideIn 0.5s forwards;
  background-color: $ui-color-gray-surface-1;
  // padding: 10px 10px 0px 10px;
  z-index: 30;
  transition: all 0.3s ease-in-out 0s;
  border: 1px solid $ui-color-primary-accent;
  box-shadow: 2px 0 6px #33333342;
  // overflow-y: scroll;

  // @media only screen and (min-device-width: $ui-breakpoint-tablet-min) {
  //   width: 50vw;
  // }
  @media only screen and (min-device-width: $ui-breakpoint-desktop-min) {
    top: 64px;
  }
}

.filterContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // padding: 10px 0px 61px;
  padding-bottom: 61px;
  background-color: $ui-color-gray-surface-1;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: $ui-color-gray-selected-surface-2 $ui-color-gray-surface-1;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.filterContent {
  border-bottom: 1px solid white;
  background-color: $ui-color-gray-surface-1;
  // background-color: #75767f;
  overflow-y: auto;
}
// .filterContent {
//   overflow-y: scroll;
// }

// .filterContainer {
//   position: fixed;
//   z-index: 50;
//   left: 0;
//   top: 49px;
//   display: flex;
//   flex-direction: column;
//   width: 75vw;
//   height: calc(100vh - var(--header-height));
//   // max-width: 320px;
//   animation: slideIn 0.5s forwards;
//   background-color: $ui-color-gray-surface-1;
//   padding-top: 10px;
//   // padding: 10px 10px 0px 10px;
//   z-index: 30;
//   transition: all 0.3s ease-in-out 0s;
//   border: 1px solid $ui-color-primary-accent;
//   box-shadow: 2px 0 6px #33333342;
//   overflow-y: scroll;
// }

// .filterContainer {
//   top: 120%;
//   position: absolute;
//   display: flex;
//   flex-direction: column;
//   width: 200px;
//   // height: 600px;
//   border: 1px solid $ui-color-primary-accent;
//   // overflow-y: scroll;
//   // background-color: $ui-color-gray-selected-surface-2;
//   background-color: $ui-color-gray-surface-1;
//   padding: 10px 0px;
//   z-index: 3;
// }

// .filterGroupContainer{
//   // overflow-y: scroll;
//   // margin: 5px 0px;
//   // padding: 10px 0px;
// }

.filterGroupHeader {
  @include uppercase;
  // position: relative;
  position: sticky;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: $ui-color-primary-accent;
  // background-color: $ui-color-gray-surface-1;
  background-color: $ui-color-gray-elements;
  border-bottom: 1px solid $ui-color-gray-white;
  // $ui-color-gray-selected-surface-2
  border-top: 1px solid $ui-color-gray-white;
  color: $ui-color-gray-white;
  // margin-bottom: 5px;
  padding: 8px 8px;
  cursor: pointer;
  transition: $ui-transition-longer;

  &:hover {
    padding-left: 12px;
    // background-color: $ui-color-primary-accent-hover;
    background-color: $ui-color-gray-black-background;
    transition: $ui-transition-longer;

    &::before {
      // background-color: $ui-color-gray-white;
      background-color: $ui-color-primary-accent-hover;
      transition: $ui-transition-longer;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
  }
}

.priceFilter {
  // width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background-color: $ui-color-gray-surface-1;
  overflow: hidden;
}

.minMaxInputs {
  display: flex;
  align-items: center;
  gap: 5px;
}

.priceInput {
  width: 48%;
  height: 30px;
  padding: 0px 7px;
  text-align: center;
  background-color: $ui-color-gray-selected-surface-2;
  color: $ui-color-gray-white;
  outline: none;
  box-shadow: none;
  border: 1px solid transparent;

  &:focus {
    border-color: $ui-color-primary-accent;
  }
}

// .sliderContainer{

// }

.checkboxGroup {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  gap: 10px;
  background-color: $ui-color-gray-surface-1;
  // margin-bottom: 10px;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 5;
    padding: 20px 10px 20px;
    background-color: $ui-color-gray-surface-1;
    border-bottom: 1px solid $ui-color-primary-accent;
  }

  & li {
    width: 100%;
    padding: 5px 10px;

    &:hover {
      // background-color: $ui-color-gray-selected-surface-2;
      background-color: #75767f;
      color: $ui-color-gray-white;

      & .checkboxLabel {
        // background-color: $ui-color-gray-selected-surface-2;
        background-color: #75767f;
      }
    }
  }
}

// .checkboxGroup.sticky {
//   position: sticky;
//   top: 0;
//   z-index: 5;
//   background-color: #161827;
//   border-bottom: 1px solid $ui-color-primary-accent;
// }

.checkboxLabel {
  @include body-text;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0px 28px;
  font-weight: 600;
  // background-color: $ui-color-gray-surface-1;
  color: $ui-color-gray-white;
  cursor: pointer;
}

.labelText {
  text-transform: capitalize;
}

.checkboxLabel input {
  opacity: 0;
  position: absolute;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 5px;
  height: 14px;
  width: 14px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.checkboxLabel input:checked + .checkmark {
  background-color: $ui-color-primary-accent;
}

.checkboxLabel input:checked + .checkmark:after {
  content: "";
  position: absolute;
  display: block;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.filterButtonsContainer {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 15px 5px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: $ui-color-gray-surface-1;
  border-top: 1px solid $ui-color-primary-accent;
}

.filterActionButton {
  @include flex-center;
  @include button;
  height: 30px;
  width: 45%;
  // width: 100%;
  color: $ui-color-gray-white;
  background-color: $ui-color-primary-accent;
  border: none;
  // margin-right: 8px;

  &:hover {
    background-color: $ui-color-primary-accent-hover;
  }

  &:active {
    background-color: $ui-color-gray-selected-surface-2;
  }
}

.sliderContainer {
  padding: 10px 13px;
  overflow: hidden;
}

// .sliderContainer {
//   .rc-slider {
//      height: 10px;
//      .rc-slider-track {
//        background-color: $ui-color-primary-accent;
//      }
//      .rc-slider-handle {
//        border-color: #007bff;
//        height: 20px;
//        width: 20px;
//        margin-left: -10px;
//        margin-top: -5px;
//        background-color: #007bff;
//      }
//      .rc-slider-rail {
//        background-color: #e9ecef;
//      }
//   }
//  }

// .sliderContainer .rcSlider {
//   margin: 10px 0;
// }

// .sliderContainer .rcSliderHandle {
//   width: 20px;
//   height: 20px;
//   margin-top: -8px;
//   // background-color: #007bff;
//   border: none;
//   box-shadow: none;
// }

// .slider-container .rc-slider-handle:focus {
//   box-shadow: none;
// }

// .sliderContainer .rcSliderTrack {
//   background-color: $ui-color-primary-accent;
// }

// .slider-container .rc-slider-rail {
//   background-color: $ui-color-gray-white;
// }

//  .rc-slider-mark-text {
//   color: #999;
// }
