@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";
@import "../../styles/global/base";

.filterWrapper {
  position: relative;
  align-self: flex-end;
}

.filterButton {
  // align-self: flex-end;
  // width: 200px;
  // height: 40px;
  @include flex-center;
  @include button;
  height: 40px;
  width: 200px;
  color: $ui-color-gray-white;
  background-color: $ui-color-primary-accent;
  border: none;
  cursor: pointer;
  // margin-right: 8px;

  &:hover {
    background-color: $ui-color-primary-accent-hover;
  }

  &:active {
    background-color: $ui-color-gray-selected-surface-2;
  }
}

.filterContainer {
  top: 120%;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  // height: 600px;
  border: 1px solid $ui-color-primary-accent;
  // overflow-y: scroll;
  // background-color: $ui-color-gray-selected-surface-2;
  background-color: $ui-color-gray-surface-1;
  padding: 10px 0px;
  z-index: 3;

  &.hidden {
    display: none;
  }
}

// .filterGroupContainer{
//   // margin: 5px 0px;
//   // padding: 10px 0px;
// }

.filterGroupHeader {
  @include uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // font-size: 16px;
  // font-style: normal;
  // font-weight: 600;
  // line-height: 21px;

  // background-color: $ui-color-gray-surface-1;

  background-color: $ui-color-primary-accent;
  border-bottom: 1px solid $ui-color-gray-white;
  // $ui-color-gray-selected-surface-2
  border-top: 1px solid $ui-color-gray-white;
  color: $ui-color-gray-white;
  // margin-bottom: 5px;
  padding: 8px 8px;
  cursor: pointer;

  &:hover {
    background-color: $ui-color-primary-accent-hover;
  }
}

.priceFilter {
  // width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  gap: 20px;
  padding: 20px;
  // overflow: hidden;
}

.minMaxInputs {
  display: flex;
  align-items: center;
  gap: 5px;
}

.priceInput {
  width: 48%;
  height: 30px;
  padding: 0px 7px;
  background-color: $ui-color-gray-selected-surface-2;
  color: $ui-color-gray-white;
  outline: none;
  box-shadow: none;
  border: 1px solid transparent;

  &:focus {
    border-color: $ui-color-primary-accent;
  }
}

// .sliderContainer{

// }

.checkboxGroup {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  gap: 10px;
  // margin-bottom: 10px;

  & li {
    width: 100%;

    &:hover {
      background: var(--Gray-Surface-2, #323542);
      color: $ui-color-gray-white;
    }
  }
}

.checkboxLabel {
  position: relative;
  display: inline-block;

  font-family: Mont;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  background-color: $ui-color-gray-surface-1;
  color: #75767f;
  font-size: 14px;
  cursor: pointer;
  padding: 0px 28px;

  &:hover {
    background: var(--Gray-Surface-2, #323542);
    color: $ui-color-gray-white;
  }

  // & input:checked{
  //   color: white;
  // }
}

.checkboxLabel input:checked + .checkmark + .labelText {
  color: $ui-color-gray-white; /* Цвет текста при выбранном чекбоксе */
}

.checkboxLabel input {
  opacity: 0;
  position: absolute;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 5px;
  height: 14px;
  width: 14px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.checkboxLabel input:checked + .checkmark {
  background-color: $ui-color-primary-accent;
}

.checkboxLabel input:checked + .checkmark:after {
  content: "";
  position: absolute;
  display: block;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkboxLabel {
  @include body-text;
  // font-size: 14px;
  // font-family: Mont;
  // font-style: normal;
  // font-weight: 600;
  line-height: 21px;
  // background: var(--Gray-Black, #0f1121);
  background-color: $ui-color-gray-surface-1;
  // color: #75767f;
  color: $ui-color-gray-white;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background: var(--Gray-Surface-2, #323542);
    color: #f1f2f9;
  }
}

.filterButtonsContainer {
  // position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filterActionButton {
  @include flex-center;
  @include button;
  height: 30px;
  width: 100%;
  color: $ui-color-gray-white;
  background-color: $ui-color-primary-accent;
  border: none;
  margin-right: 8px;

  &:hover {
    background-color: $ui-color-primary-accent-hover;
  }

  &:active {
    background-color: $ui-color-gray-selected-surface-2;
  }
}

.sliderContainer {
  padding: 10px 13px;
  overflow: hidden;

  .track {
    background-color: $ui-color-primary-accent;
  }

  /* Стили для рельсов слайдера */
  .rail {
    background-color: $ui-color-gray-white;
  }

  /* Стили для ползунков слайдера */
  .handle {
    width: 20px;
    height: 20px;
    margin-top: -8px;
    background-color: #007bff;
    border: none;
    box-shadow: none;
  }

  /* Стили для точек на слайдере */
  .dot {
    background-color: #007bff;
  }

  /* Стили для активных точек на слайдере */
  .active-dot {
    background-color: #007bff;
  }
}

// .sliderContainer {
//   .rc-slider {
//      height: 10px;
//      .rc-slider-track {
//        background-color: $ui-color-primary-accent;
//      }
//      .rc-slider-handle {
//        border-color: #007bff;
//        height: 20px;
//        width: 20px;
//        margin-left: -10px;
//        margin-top: -5px;
//        background-color: #007bff;
//      }
//      .rc-slider-rail {
//        background-color: #e9ecef;
//      }
//   }
//  }

// .sliderContainer .rcSlider {
//   margin: 10px 0;
// }

// .sliderContainer .rcSliderHandle {
//   width: 20px;
//   height: 20px;
//   margin-top: -8px;
//   // background-color: #007bff;
//   border: none;
//   box-shadow: none;
// }

// .slider-container .rc-slider-handle:focus {
//   box-shadow: none;
// }

// .sliderContainer .rcSliderTrack {
//   background-color: $ui-color-primary-accent;
// }

// .slider-container .rc-slider-rail {
//   background-color: $ui-color-gray-white;
// }

//  .rc-slider-mark-text {
//   color: #999;
// }
